.nav{
    background-color: rgb(109, 0, 109);
}
a:visited{
    color: white;
}
a:hover{
    color: white;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
  }
  
td, th {
    padding: 8px;
    
  }
.space{
      margin-left: 20px;
      text-align: center;
  }
button{
  margin-left: 20px;
  }
#btn{
      position: absolute;
      right: 30px;
      background-color: blue;
      color: white;
      padding-left: 30px;
      padding-right: 30px;
  }
.container{
      margin-top: 100px;
  }
th{
  background-color: grey;
  border-left: grey;
}

  